.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.Tuck-logo {
  height: 7vmin;
  padding: 2rem;
  pointer-events: none;
}

.logo-tag {
  height: 4vmin;
  padding: 2rem;
  pointer-events: none;
}

.App-content {
  background: rgb(250,250,250);
  background: linear-gradient(180deg, rgba(250,250,250,1) 31%, rgba(241, 240, 234,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #1a1a1a;
}

div.App > main > p {
  font-weight: 500;
  letter-spacing: 0.025em;
}

#bgvid, #bgimg {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  max-height: 70vh;
}

.Follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.Follow-content {
    color: #191919;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }
.Follow-inner {
  margin: 1rem 0;
  padding: 1rem 5rem;
  background: rgba(250,250,250,0.87);
  border-radius: 22px;
  border: 2px solid #f0f0f1;
}
  
  .tuck-instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #191919;
    font-size: 3rem;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }
  .tuck-instagram:hover,
  .tuck-instagram:focus {
    transform: scale(1.15);
    color: #50b8d7;
  }
  
  .tuck-instagram span {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .Copyright {
    font-weight: 400;
    font-size: 0.6rem;
    text-transform: none;
    margin: 0;
    margin-top: auto;
    padding: 0 0 10px 0;
    color: rgb(116, 116, 116);
  }

  em {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #1a1a1a;
  }

  div > main > div.App-header > span > em > svg > path {
    fill: #50b8d7;
  }

a {
  text-decoration: none;
  color: inherit;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  font-size: 0.6rem;
}

@media only screen and (max-width: 667px) {
  .Coming {
    margin: 1rem;
  }
}
