.Follow {
  background: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cpattern id='coffee-cup' x='-5' y='5' width='50' height='50' patternUnits='userSpaceOnUse' patternContentUnits='userSpaceOnUse'%3E%3Cpath d='M2.85,18.77l.32,2.66a26.59,26.59,0,0,0,4.8.39,26.8,26.8,0,0,0,4.36-.39l.32-2.66' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.4035321859703156px'/%3E%3Cpath d='M1.22,7.84C3.38,7.94,5.7,8,8.16,8c2.23,0,4.33-.1,6.31-.21v.06L13.14,18.49h0A31.07,31.07,0,0,1,8,19a31.68,31.68,0,0,1-5.65-.46L1,7.84' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.4035321859703156px'/%3E%3Cline x1='1.7' y1='7.64' x2='1.31' y2='4.46' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-miterlimit:10;stroke-width:0.4035321859703156px'/%3E%3Cline x1='13.81' y1='7.64' x2='14.2' y2='4.46' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-miterlimit:10;stroke-width:0.4035321859703156px'/%3E%3Cpolyline points='0.72 2.19 14.9 2.19 14.9 2.31 15.36 4.43 15.25 4.47 0.2 4.43 0.65 2.31' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.4035321859703156px'/%3E%3Cpolyline points='13.81 2.02 13.44 0.29 13.44 0.2 1.93 0.2 1.87 0.29 1.5 2.02' style='fill:none;stroke:%23ff7367;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.4035321859703156px'/%3E%3C/pattern%3E%3Crect id='rect' x='0' y='0' width='100%25' height='100%25' fill='url(%23coffee-cup)' /%3E%3C/svg%3E");
  min-height: calc(30vh - 6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 6px solid #fff;
  z-index: 1;
}

.Follow-content {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
    padding: 0 0 0.5rem 0;
  }
.Follow-inner {
  margin: 1rem 0;
}
  
  .Bunus-instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }
  .Bunus-instagram:hover,
  .Bunus-instagram:focus {
    transform: scale(1.15);
  }
  
  .Bunus-instagram span {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .Copyright {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: none;
    margin-top: auto;
    padding: 0 0 5px 0;
    color: white;
  }

  em {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: white;
  }