@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f0f;
}

span {
  font-weight: 400;
  font-size: 0.9rem;
  color: #ff7367;
  line-height: 1.6rem;
}

p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
}